
@{
    ViewData["Title"] = "Index";
}

<h1>List of days and months</h1>
    @{
        var days = (List<string>)ViewBag.Days;
        var month = (List<string>)ViewBag.Months;
    }
<ul>
    @for (int i = 0; i < days.Count; i++)
    {
        <li>@days[i]</li>
    }
</ul>
<hr />
<ul>
    @for (int i = 0; i < month.Count; i++)
    {
        <li>@month[i]</li>
    }
</ul>